.documentsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: rgba(188, 207, 207, 0.479);
  padding-left: 20px;
}
