.groupsView {
  background-color: rgba(188, 207, 207, 0.479);
  margin-top: 63px;
}

.groupTableContainer {
  float: right;
  width: 80%;
  margin-bottom: 150px;
}

.groupListContainer {
  float: left;
  width: 20%;
  padding: 15px;
}
