div.groups {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
}
/* 
display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100vh; */
