.containerGroupCreation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100%;
}

.groupCreationForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgb(140, 185, 182);
  background-color: #ffffff;
}

.groupCreationForm h1 {
  text-align: center;
  width: 100%;
  color: rgb(24, 24, 24);
  font-weight: lighter;
}

.groupCreationForm label {
  font-size: 1em;
  color: #222;
  text-align: left;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0.4em 0 0.25em 0;
}

input.groupName,
textarea.description {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}

textarea.description {
  min-height: 40px;
  max-height: 140px;
}

input::placeholder {
  font-size: 1.1em;
  color: #999;
}

button.registrationButton {
  background-color: #519e8a;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  margin: 7px 0;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
}

button.registrationButton:hover {
  color: #519e8a;
  background-color: #fff;
  border: 1px solid #519e8a;
}

.inputContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.inputContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
}

.inputContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.inputContainer input:checked ~ .checkmark {
  background-color: #519e8a;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.inputContainer input:checked ~ .checkmark:after {
  display: block;
}

.inputContainer .checkmark:after {
  left: 8px;
  top: 2px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
