.editorWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgb(140, 185, 182);
  background-color: #ffffff;
  margin-right: 10px;
}
.editorStyle {
  background-color: white;
  border: 0.5px solid lightgray;
}
